


* {
    margin: 0;
    padding: 0;
    font-family:"Inter", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.inlineBlock {
    display: inline-block;
}

.container {
     /*background-color: red;*/
     max-width: 800px;
     width: 100%;
     margin: auto;
}

.paddingSection {
    padding: 40px 0;
}



.alignCenter {
    align-items: center;
}

.spaceBetween {
    justify-content: space-between;
}

.spaceAround {
    justify-content: space-around;
}

.spaceEvenly {
    justify-content: space-evenly;
}
.center {
    justify-items: center;
}

.centerC {
    justify-content: center;
}

.w30 {
    width: 40%;
}

.paddingT20 {
    padding-top: 20px;
}

.paddingT30 {
    padding-top: 30px;
}

.paddingR30 {
    padding-right: 200px;
}



/* HEADER */

header {
    /*background-color: aquamarine;*/
    padding: 15px 15px;
    background: rgb(242,33,6);
    background: linear-gradient(241deg, rgba(242,33,6,1) 0%, rgba(143,21,204,0.9950105042016807) 50%, rgba(0,185,255,1) 100%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}


.navHeader {
    width: 50%;
    /* background-color: blue; */
}
    



/* HERO */

.hero {
    height: 100vh;
    background: rgb(242,33,6);
    background: linear-gradient(142deg, rgba(242,33,6,1) 0%, rgba(143,21,204,0.9950105042016807) 50%, rgba(0,185,255,1) 100%);
}

.hero div {
    background: rgba(159, 161, 138, 0.38);
    width: 50%;
    text-align: center;
    padding: 64px;
    border-radius: 15px;
    border-radius: 16px;
    -webkit-box-shadow: 1px 0px 52px 26px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 0px 52px 26px rgba(0,0,0,0.75);
box-shadow: 1px 0px 52px 26px rgba(0,0,0,0.75);
    
    
}

.hero a {
    background: rgb(255,59,0);
    background: linear-gradient(153deg, rgba(255,59,0,1) 0%, rgba(143,21,204,0.9950105042016807) 50%, rgba(0,185,255,1) 100%);
    border-radius: 4px;
    padding: 10px;
    color: white;
}

.gap {
    padding: 40px 0;
}

/* SECTION A PROPOS */

.heightPropos {
    height: 40vh;
}
.logoSize {
    width: 168px;
    height: 168px;
}

.paddingLogo {
    padding-right: 30px;
}

/* Mes Projets */

.scrollContainer {
    width: 100%; 
    overflow-x: auto; 
}

.content {
    flex-wrap: nowrap;
    display: flex;
}

.card {
    min-width: 30%;
}

.card img {
    width: 100%;
}

.gapCard {
    gap: 100px;
}

/* Mes compétences */

.packOffice {
    width: 70px;
    height: 40px;
}